<main>
  <h1>
    <%- page.title %>
  </h1>
  <h4 class="date">
    <%- date(page.date, "MM / DD / YYYY") %> | 最后修改于 <%- date(page.updated, "MM / DD / YYYY") %>
  </h4>
  <div class="clips">
    <div class="categories">
      <% page.categories.forEach(element => { %>
      <a class="clip"> <% element.name %> </a>
      <% }) %>
    </div>
    <div class="tags">
      <% page.tags.forEach(element => { %>
      <a class="clip"> <%- element.name %> </a>
      <% }) %>
    </div>
  </div>
  <%- page.content %>
</main>